.icon-size-13{
    font-size: 1.3rem
}

.i-s-14{
    font-size: 1.4rem
}

.i-s-15{
    font-size: 1.5rem
}

.i-s-16{
    font-size: 1.6rem
}

.i-s-17{
    font-size: 1.7rem
}

.i-s-18{
    font-size: 1.8rem
}

.i-s-19{
    font-size: 1.9rem
}

.i-s-20{
    font-size: 2rem
}

.f-s-18{
    font-size: 18px;
}

.f-s-19{
    font-size: 19px;
}

.f-s-20{
    font-size: 20px;
}

.f-s-21{
    font-size: 21px;
}

.f-s-22{
    font-size: 22px;
}

.f-s-23{
    font-size: 23px;
}

.f-s-24{
    font-size: 24px;
}

.f-s-25{
    font-size: 25px;
}

.f-s-26{
    font-size: 26px;
}

.f-s-27{
    font-size: 27px;
}

.f-s-28{
    font-size: 28px;
}

.f-s-29{
    font-size: 29px;
}

.f-s-30{
    font-size: 30px;
}

.popover-help{
    color: #8202bd;
}

.popover-help:focus{
    outline: none;
}
